html {
}

body {
	font-family:Droid Sans, Open Sans, sans-serif;
	font-size:15px;
	line-height:1.5;
	background:#0088cc; /* dark blue */
	border-top:10px solid #36a9e2; /* light blue */
	border-bottom:10px solid #36a9e2; /* light blue */
	color:#fff;
	font-weight:300;
	padding-bottom:70px;
}

a,
a:hover {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dotted #fff;
}

p {
	letter-spacing:0.5;
}

h1 {
	margin:0;
	text-align:left;
	font-weight:700;
	color:#fff;
	font-size:16px;
}
	.lower {
		font-weight:100;
	}

	h2 {
		margin:0;
		text-align:left;
		font-weight:300;
		color:#fff;
		font-size:36px;
	}

		.main h2 {
			margin:0.5em 0;
		}

	h3 {
		font-size:16px;
		margin:1.5em 0 0 0;
	}


span {
	background: rgba(255,255,255,0.7);
	padding:2px 8px;
}

.container {
	max-width:960px;
}


