html {
	background:#0088cc; /* dark blue */
	border-bottom:10px solid #36a9e2; /* light blue */
}

body {
	font-family:Open Sans, Droid Sans, sans-serif;
	font-size:15px;
	line-height:1.5;
	background:#0088cc; /* dark blue */
	border-top:10px solid #36a9e2; /* light blue */
	color:#fff;
	font-weight:300;
	padding-bottom:30px;
}

a,
a:hover {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dotted #fff;
}

p {
	letter-spacing:0.5;
}

h1 {
	margin:0;
	text-align:left;
	font-weight:700;
	color:#fff;
	font-size:16px;
}
	.lower {
		font-weight:100;
	}

	h2 {
		margin:0;
		text-align:left;
		font-weight:300;
		color:#fff;
		font-size:36px;
	}

		.main h2 {
			margin:0.5em 0;
		}

		.sidebar h2 {
			margin-top:0;
			line-height:1;
			margin-bottom:20px;
		}

		.signup h2 {
			margin-top:1em;
		}

	h3 {
		font-size:16px;
		margin:1.5em 0 0 0;
	}


span {
	background: rgba(255,255,255,0.7);
	padding:2px 8px;
}

.container {
	max-width:960px;
}

header {
	background: #fff;
	padding:60px 0 50px 0;
	margin-bottom:40px;
	border: 1px solid #0077b2;
	border-width:1px 0 1px 0;
}

	header h2,
	header h3 {
		text-align:center;
		color: #0088cc;
	}

	header h3 {
		color: #333;
		font-weight: 300;
		font-size:36px;
		margin-top:20px;
	}

	header p {
		text-align: center;
	}

	header a,
	header a:hover {
		color:#666;
		border-bottom: 1px dotted #666;
	}

	a.wepay-widget-button {
		font-size: 24px!important;
		font-family:Open Sans, Droid Sans, sans-serif!important;
		background: #df0054 !important;
		background-image:none!important;
		color:#fff!important;
		box-shadow: none!important;
		text-shadow: none!important;
		border:1px solid #df0054 !important;
		border-radius:4px !important;
	}

	a.wepay-widget-button strong {
		font-weight: 300!important;
	}

.building  {
	margin-bottom:25px;
}

.sidebar {
	padding-left:40px;
}

table {
	width:100%;
	margin-bottom:1em;
}
	th, td {
		padding:5px 0;
	}

	th {
		text-align: left;
		border-bottom: 1px solid #fff;
	}

	td {
		border-bottom: 1px dotted #fff;
	}

footer {
	margin-top:40px;
	padding-top: 40px;
	border-top: 1px dotted #fff;
	text-align: center;
}
