/*******************************************************************************
 * style.scss
 *
 * This file shouldn't directly contain any SCSS code, instead it only serves to
 * combine the SCSS contained in other Sass partials through @import directives.
 *
 * BASE............Styling for common HTML and Drupal elements.
 * LAYOUT..........Styles for the page structure that contain components.
 * COMPONENTS......Components, their modifiers and sub-components.
 ******************************************************************************/

@import "../gnl_theme/sass/utils";
@import "../gnl_theme/sass/_base";

@import "normalize";

@import "toolkit/border-box";

body {
  background: $blue;
  color: #fff;
}

/* Structure -----------------------------------*/
.container {
  max-width: 920px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrap {
  padding: 50px 0;
}


header {
  background: $blue;
  color: #fff;
  padding: 10px 0;
}


/* Type -----------------------------------*/

h1 {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  padding: 0;
  line-height: 0.4;
}

.callout {
  font-size: 4em;
  font-weight: bold;
  letter-spacing: -0.05em;
  border-bottom: 5px solid $blue-accent;

  .num {
    letter-spacing: -0.1em;
  }
  .dollar {
    font-size: 50px;
    letter-spacing: -0.05em;
  }
}

.white .callout {
  border-bottom: 5px solid $gray;
}

#network {
  background: #fff url(../img/network.png) no-repeat center 50px;
  padding-bottom: 500px;

  h2 {
    border-bottom: 0;
    font-size: 45px;
  }
}

.contrast .callout {
  border-bottom: 5px solid $darker-tan;
}

input {
  max-width: 550px;
  min-width: 550px;
  /* todo: add responsivity */

  display: inline-block;
  margin-bottom: 1em;
  padding: 10px 20px;
  font-weight: bold;
  color: $body-color;
  border: 5px solid $blue-accent;
}

input[type="submit"] {
  max-width: 100px;
  min-width: 100px;
  display: inline-block;
  margin-bottom: 1em;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  border: 5px solid $blue-accent;
  text-align: center;
  background: $blue-accent;
  border-left:0px none;
}

h2 {
  line-height: 0.9em;
  text-indent: -4px;
}

h2,
p,
ol,
ul,
form {
  max-width: 650px;
  margin: 0px auto;
}

p,
li {
  line-height: 1.9;
  margin-top: 1em;
}

a,
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}

/* Sections ------------------------------------------ */

.contrast {
  background: $lighter-tan;

  h2,
  h3,
  p,
  li {
    color: $body-color;
  }

  a, a:link, a:active, a:visited {
    color: $blue;
    border-bottom-color: $blue;
  }
}

.white {
  background: #fff;

  h2,
  h3,
  p {
    color: $body-color;
  }
}

/* d3 --------------------------------------------- */

.d3 {
  margin: 0 auto;
  height: 300px;
  width: 500px;
  color: #fff;
  background-color: transparent;

  .center {
    shape-rendering: crispEdges;
    stroke: #fff;
  }
  .median {
    fill: red;
    stroke: #fff;
  }
  .outlier {
    fill: #fff;
  }
  .axis {
    line, path {
      fill: none;
    }

    .tick {
      shape-rendering: crispEdges;
      stroke: #fff;
    }

    text {
      fill: #fff;
      font-size: 10px;
      font-weight: normal;
    }
  }
}
