@import '_goudystm';
@import '_nobile';

body {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.l-header,
.l-header a,
h1, h2, h3, h4, h5 {
  font-family: Helvetica Neue, sans-serif; //"Nobile",
  font-weight: 400;
}
