@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url('../fonts/goudystm/GoudyStM-webfont.eot');
  src: url('../fonts/goudystm/GoudyStM-webfont.eot?iefix') format('eot'),
       url('../fonts/goudystm/GoudyStM-webfont.woff') format('woff'),
       url('../fonts/goudystm/GoudyStM-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url('../fonts/goudystm/GoudyStM-italic-webfont.eot');
  src: url('../fonts/goudystm/GoudyStM-italic-webfont.eot?iefix') format('eot'),
       url('../fonts/goudystm/GoudyStM-italic-webfont.woff') format('woff'),
       url('../fonts/goudystm/GoudyStM-italic-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
