<% if (organizations.length > 0) { %>
<div class="col-md-6">
    <h2>Grants <%= direction %></h2>

    <% _.each(organizations, function(organization) { %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%- organization.name %> ($<%- organization.prettySum %>) </h3>
          </div>
          <div class="panel-body">
            <% _.each(organization.grants, function(grant) { %>
                <div class="grant">
                    <h3>
                        <a href="#/grants/<%= grant.id %>">$<%= grant.amount %></a>
                        <a href="#/grants/<%= grant.id %>"><span class="glyphicon glyphicon-link"></span></a></a>
                    </h3>

                    <!--<% if (direction === 'received') { %>
                        From
                        <a href="#/organizations/<%= grant.field_funder.target_id %>">
                            <%= grant.field_funder.name %>
                        </a>
                    <% } else { %>
                        To
                        <a href="#/organizations/<%= grant.field_recipient.target_id %>">
                            <%= grant.field_recipient.name %>
                        </a>
                    <% } %>-->
                    from <%= grant.start_date %> to <%= grant.end_date %>.
                </div>
            <% }); %>
          </div>
        </div>
    <% }); %>
</div>

<% } %>

