<% if(grants.length) {%>
<div class="col-md-6">
    <h2>Grants <%= direction %></h2>

    <% _.each(grants, function(g) { %>
    <div class="grant">
        <h3>
            <a href="#/grants/<%= g.id %>">$<%= g.amount %></a>
            <a href="#/grants/<%= g.id %>"><span class="glyphicon glyphicon-link"></span></a></a>
        </h3>

        <% if (direction === 'received') { %>
            From
            <a href="#/organizations/<%= g.field_funder.target_id %>">
                <%= g.field_funder.name %>
            </a>
        <% } else { %>
            To
            <a href="#/organizations/<%= g.field_recipient.target_id %>">
                <%= g.field_recipient.name %>
            </a>
        <% } %>
        from <%= g.start_date %> to <%= g.end_date %>.
    </div>
    <% }); %>
</div>
<% } %>
