/*******************************************************************************
 * style.scss
 *
 * This file shouldn't directly contain any SCSS code, instead it only serves to
 * combine the SCSS contained in other Sass partials through @import directives.
 *
 * BASE............Styling for common HTML and Drupal elements.
 * LAYOUT..........Styles for the page structure that contain components.
 * COMPONENTS......Components, their modifiers and sub-components.
 ******************************************************************************/
/*******************************************************************************
 * _utils.scss
 *
 * Sass offers come very useful features, these include variables functions and
 * mixins. Extensions such as Compass and Susy can also be used to provide extra
 * functions and mixins to be used throughout the theme. This file acts as a
 * single place for defining these things, which can then be accessed by
 * importing _utils.scss where required. The following should be defined in this
 * file:
 * - Custom Sass mixins for the theme.
 * - Custom Sass functions for the theme.
 * - Overriding the default variables provided by extensions such as Compass.
 * - Defining new variables for:
 *      - Colors.
 *      - Font sizes and families.
 *      - Layout and grid sizing.
 ******************************************************************************/
@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url("../fonts/goudystm/GoudyStM-webfont.eot");
  src: url("../fonts/goudystm/GoudyStM-webfont.eot?iefix") format("eot"), url("../fonts/goudystm/GoudyStM-webfont.woff") format("woff"), url("../fonts/goudystm/GoudyStM-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url("../fonts/goudystm/GoudyStM-italic-webfont.eot");
  src: url("../fonts/goudystm/GoudyStM-italic-webfont.eot?iefix") format("eot"), url("../fonts/goudystm/GoudyStM-italic-webfont.woff") format("woff"), url("../fonts/goudystm/GoudyStM-italic-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Nobile';
  src: url("../fonts/nobile/nobile.eot");
  src: url("../fonts/nobile/nobile.eot?iefix") format("eot"), url("../fonts/nobile/nobile.woff") format("woff"), url("../fonts/nobile/nobile.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nobile';
  src: url("../fonts/nobile/nobile_bold.eot");
  src: url("../fonts/nobile/nobile_bold.eot?iefix") format("eot"), url("../fonts/nobile/nobile_bold.woff") format("woff"), url("../fonts/nobile/nobile_bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Sorts Mill Goudy", "Adobe Garamond", "Garamond", Palatino, serif;
  font-weight: 400;
}

.l-header,
.l-header a,
h1, h2, h3, h4, h5 {
  font-family: "Nobile", Helvetica, sans-serif;
  font-weight: 400;
}

/*******************************************************************************
 * _base.scss

 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/
body {
  background: #f1ecd1;
  font-family: nobile;
  color: #333333;
}

a:link,
a:visited {
  color: #0088cc;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: underline;
}

a.active-trail {
  color: black;
  text-decoration: none;
}

html.js .form-autocomplete {
  background-position: 100% 7px;
}

.view-id-orgs .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

input[type="submit"],
select {
  background: #f7f4e5;
  border: 1px solid #e5dcaa;
  padding: 2px 5px;
}

/* @import "normalize"; */
/*@import "toolkit/border-box";*/
body {
  background: #0088cc;
  color: #fff;
  padding: 0;
  margin: 0;
}

/* Structure -----------------------------------*/
.container {
  max-width: 920px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrap {
  padding: 50px 0;
}
@media all and (max-width: 768px) {
  .wrap {
    padding: 20px 0;
  }
}

header {
  background: #0088cc;
  color: #fff;
  padding: 10px 0;
}

/* Type -----------------------------------*/
h1 {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  padding: 0;
  line-height: 0.4;
}
@media all and (max-width: 768px) {
  h1 {
    font-size: 20px;
    text-align: left;
  }
}

.callout {
  font-size: 4em;
  font-weight: bold;
  letter-spacing: -0.05em;
  border-bottom: 5px solid #60aadb;
}
.callout .num {
  letter-spacing: -0.1em;
}
.callout .dollar {
  font-size: 50px;
  letter-spacing: -0.05em;
}

.white .callout {
  border-bottom: 5px solid #a4b6be;
}

#network {
  background: white url(../img/network.png) no-repeat center 50px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
}
#network h2 {
  border-bottom: 0;
  font-size: 45px;
}
#network img {
  padding-top: 1200px;
}

.contrast .callout {
  border-bottom: 5px solid #e5dcaa;
}

input[type="text"] {
  width: 100%;
  max-width: 450px;
  min-width: 100px;
  /* todo: add responsivity */
  display: inline-block;
  margin-bottom: 1em;
  marign-right: 20px;
  padding: 10px 20px;
  font-weight: bold;
  font-family: nobile;
  font-size: 16px;
  color: #333333;
  border: 5px solid #60aadb;
}

input[type="submit"] {
  width: 100px;
  display: inline-block;
  margin-bottom: 1em;
  padding: 10px;
  font-weight: bold;
  font-family: nobile;
  font-size: 16px;
  color: #fff;
  border: 5px solid #60aadb;
  text-align: center;
  background: #60aadb;
  border-left: 0px none;
}

h2 {
  line-height: 0.9em;
  text-indent: -4px;
}
@media all and (max-width: 768px) {
  h2 {
    font-size: 16px;
    line-height: 1.2;
    text-indent: 0;
  }
}

h2,
p,
ol,
ul,
form {
  max-width: 650px;
  margin: 0px auto;
}

p,
li {
  line-height: 1.9;
  margin-top: 1em;
}

a,
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}

/* Sections ------------------------------------------ */
.contrast {
  background: #f7f4e5;
}
.contrast h2,
.contrast h3,
.contrast p,
.contrast li {
  color: #333333;
}
.contrast a, .contrast a:link, .contrast a:active, .contrast a:visited {
  color: #0088cc;
  border-bottom-color: #0088cc;
}

.white {
  background: #fff;
}
.white h2,
.white h3,
.white p {
  color: #333333;
}

/* d3 --------------------------------------------- */
.d3 {
  margin: 0 auto;
  height: 300px;
  width: 500px;
  color: #fff;
  background-color: transparent;
}
.d3 .center {
  shape-rendering: crispEdges;
  stroke: #fff;
}
.d3 .median {
  fill: red;
  stroke: #fff;
}
.d3 .outlier {
  fill: #fff;
}
.d3 .axis line, .d3 .axis path {
  fill: none;
}
.d3 .axis .tick {
  shape-rendering: crispEdges;
  stroke: #fff;
}
.d3 .axis text {
  fill: #fff;
  font-size: 10px;
  font-weight: normal;
}

/* Animations --------------------------------------------- */
#network:hover {
  height: 350px;
}

/* Buttons --------------------------------------------- */
a.wepay-widget-button {
  font-size: 24px !important;
  font-family: Open Sans, Droid Sans, sans-serif !important;
  background: #df0054 !important;
  background-image: none !important;
  color: white !important;
  box-shadow: none !important;
  text-shadow: none !important;
  border: 1px solid #df0054 !important;
  border-radius: 4px !important;
}
a.wepay-widget-button strong {
  font-weight: 300 !important;
}
