/*******************************************************************************
 * style.scss
 *
 * This file shouldn't directly contain any SCSS code, instead it only serves to
 * combine the SCSS contained in other Sass partials through @import directives.
 *
 * BASE............Styling for common HTML and Drupal elements.
 * LAYOUT..........Styles for the page structure that contain components.
 * COMPONENTS......Components, their modifiers and sub-components.
 ******************************************************************************/
/*******************************************************************************
 * _utils.scss
 *
 * Sass offers come very useful features, these include variables functions and
 * mixins. Extensions such as Compass and Susy can also be used to provide extra
 * functions and mixins to be used throughout the theme. This file acts as a
 * single place for defining these things, which can then be accessed by
 * importing _utils.scss where required. The following should be defined in this
 * file:
 * - Custom Sass mixins for the theme.
 * - Custom Sass functions for the theme.
 * - Overriding the default variables provided by extensions such as Compass.
 * - Defining new variables for:
 *      - Colors.
 *      - Font sizes and families.
 *      - Layout and grid sizing.
 ******************************************************************************/
@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url("../fonts/goudystm/GoudyStM-webfont.eot");
  src: url("../fonts/goudystm/GoudyStM-webfont.eot?iefix") format("eot"), url("../fonts/goudystm/GoudyStM-webfont.woff") format("woff"), url("../fonts/goudystm/GoudyStM-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sorts Mill Goudy';
  src: url("../fonts/goudystm/GoudyStM-italic-webfont.eot");
  src: url("../fonts/goudystm/GoudyStM-italic-webfont.eot?iefix") format("eot"), url("../fonts/goudystm/GoudyStM-italic-webfont.woff") format("woff"), url("../fonts/goudystm/GoudyStM-italic-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Nobile';
  src: url("../fonts/nobile/nobile.eot");
  src: url("../fonts/nobile/nobile.eot?iefix") format("eot"), url("../fonts/nobile/nobile.woff") format("woff"), url("../fonts/nobile/nobile.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nobile';
  src: url("../fonts/nobile/nobile_bold.eot");
  src: url("../fonts/nobile/nobile_bold.eot?iefix") format("eot"), url("../fonts/nobile/nobile_bold.woff") format("woff"), url("../fonts/nobile/nobile_bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  font-size: 16px;
  line-height: 24px;
  font-family: "Sorts Mill Goudy", "Adobe Garamond", "Garamond", Palatino, serif;
  font-weight: 400;
}

.l-header,
.l-header a,
h1, h2, h3, h4, h5 {
  font-family: "Nobile", Helvetica, sans-serif;
  font-weight: 400;
}

/*******************************************************************************
 * _base.scss

 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/
body {
  background: #f1ecd1;
  font-family: nobile;
  color: #333333;
}

a:link,
a:visited {
<<<<<<< HEAD
  color: #0088cc;
=======
  color: #1478ac;
>>>>>>> gh-pages
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: underline;
}

a.active-trail {
  color: black;
  text-decoration: none;
}

html.js .form-autocomplete {
  background-position: 100% 7px;
}

.view-id-orgs .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

input[type="submit"],
select {
  background: #f7f4e5;
  border: 1px solid #e5dcaa;
  padding: 2px 5px;
}

/*! normalize.css v1.1.0 | MIT License | git.io/normalize */
/*! normalize.css v1.1.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

/*! normalize.css v1.1.0 | Base | MIT License | git.io/normalize */
html {
  font-size: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

/*! normalize.css v1.1.0 | Links | MIT License | git.io/normalize */
a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

/*! normalize.css v1.1.0 | Typography | MIT License | git.io/normalize */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/*! normalize.css v1.1.0 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

/*! normalize.css v1.1.0 | Figures | MIT License | git.io/normalize */
figure {
  margin: 0;
}

/*! normalize.css v1.1.0 | Forms | MIT License | git.io/normalize */
form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/*! normalize.css v1.1.0 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php');
}

body {
<<<<<<< HEAD
  background: #0088cc;
=======
  background: #1478ac;
>>>>>>> gh-pages
  color: #fff;
}

/* Structure -----------------------------------*/
.container {
  max-width: 920px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrap {
  padding: 50px 0;
}

.contrast {
  background: #f7f4e5;
}
.contrast h2,
.contrast h3,
<<<<<<< HEAD
.contrast p,
.contrast li {
=======
.contrast p {
>>>>>>> gh-pages
  color: #333333;
}

.white {
  background: #fff;
}
.white h2,
.white h3,
.white p {
  color: #333333;
}

header {
  background: #1478ac;
  color: #fff;
  padding: 10px 0;
}

/* Type -----------------------------------*/
h1 {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  padding: 0;
  line-height: 0.4;
}

.callout {
  font-size: 4em;
  font-weight: bold;
  letter-spacing: -0.05em;
  border-bottom: 5px solid #60aadb;
}
.callout .num {
  letter-spacing: -0.1em;
}
.callout .dollar {
  font-size: 50px;
  letter-spacing: -0.05em;
}

.white .callout {
  border-bottom: 5px solid #a4b6be;
}

#network {
  background: white url(../img/network.png) no-repeat center 50px;
  padding-bottom: 500px;
}
#network h2 {
  border-bottom: 0;
  font-size: 45px;
}

.contrast .callout {
  border-bottom: 5px solid #e5dcaa;
}

input {
  max-width: 550px;
  min-width: 550px;
  /* todo: add responsivity */
  display: inline-block;
  margin-bottom: 1em;
  padding: 10px 20px;
  font-weight: bold;
  color: #333333;
  border: 5px solid #60aadb;
}

input[type="submit"] {
  max-width: 100px;
  min-width: 100px;
  display: inline-block;
  margin-bottom: 1em;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  border: 5px solid #60aadb;
  text-align: center;
  background: #60aadb;
  border-left: 0px none;
}

h2 {
  line-height: 0.9em;
  text-indent: -4px;
}

h2,
p,
ol,
ul,
form {
  max-width: 650px;
  margin: 0px auto;
}

p,
li {
  line-height: 1.9;
  margin-top: 1em;
}

a,
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}

/* d3 */
.d3 {
  margin: 0 auto;
  height: 300px;
  width: 500px;
  color: #fff;
  background-color: transparent;
}
.d3 .center {
  shape-rendering: crispEdges;
  stroke: #fff;
}
.d3 .median {
  fill: red;
  stroke: #fff;
}
.d3 .outlier {
  fill: lightgrey;
}
.d3 .axis line, .d3 .axis path {
  fill: none;
}
.d3 .axis .tick {
  shape-rendering: crispEdges;
  stroke: #fff;
}
.d3 .axis text {
  fill: #fff;
  font-size: 10px;
  font-weight: normal;
}
