<div class="container grant-details">
    <div class="col-md-12">
        <ul>
            <li>
                <strong>Source</strong>
                <%= grant.field_source %>
            </li>
            <li>
                <strong>Last updated</strong>
                <%= grant.changed %>
            </li>
            <% if (grant.notes) { %>
            <li>
                <strong>Notes</strong>
                <%= grant.notes %>
            </li>
            <% } %>
        </ul>
    </div>

    <div class="col-md-12">
        <h1>Related grants</h1>
    </div>
    <div id="grants-funded"></div>
    <div id="grants-received"></div>
</div>
