<div class="grant-details container">
    <div class="row">
        <div class="col-md-12">
            <ul>
                <% if (grant.notes) { %>
                <li>
                    <%= grant.notes %>
                </li>
                <% } %>
                <li>
                    <strong>Source</strong>
                    <%= grant.field_source %>
                </li>
                <li>
                    <strong>Last updated</strong>
                    <%= grant.changed %>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="flag">FLAG VIEW OY</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="related-grants">Related grants</h2>
        </div>
    </div>

    <div class="row related">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#grants-received-tab" aria-controls="grants-received" role="tab" data-toggle="tab">
                        To <%= grant.field_recipient.name %>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#grants-funded-tab" aria-controls="grants-funded" role="tab" data-toggle="tab">
                        From <%= grant.field_funder.name %>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="grants-received-tab">
                    <table id="grants-received" class="grants"></table>
                </div>
                <div role="tabpanel" class="tab-pane" id="grants-funded-tab">
                    <table id="grants-funded" class="grants"></table>
                </div>
            </div>
        </div>
    </div>
</div>
