<div class="tab-content">
    <!-- <h2>Grants <%= direction %></h2>-->
    <div class="ct-chart"></div>

    <table class="grants">
        <thead>
            <tr>
                <th class="name">Grants by organization</th>
                <th class="years">Years</th>
                <th>Amount</th>
            </tr>
            <tr class="org-search"> 
                <th class="filters">
                </th>
                <th>
                    <!--
                        <input type="text" name="year_min">
                        <input type="text" name="year_max">
                    -->
                </th>
                <th>
                    <!--
                        <input type="text" name="grant_min">
                        <input type="text" name="grant_max">
                    -->
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


