<div class="grant container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="amount">$<%= grant.amount %></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            From
            <h2>
                <a href="/#!/organizations/<%= grant.field_funder.target_id %>">
                    <%= grant.field_funder.name %>
                </a>
            </h2>
        </div>
        <div class="col-md-6">
            To
            <h2>
                <a href="/#!/organizations/<%= grant.field_recipient.target_id %>">
                    <%= grant.field_recipient.name %>
                </a>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>From <%= grant.start_date %> to <%= grant.end_date %>.</p>
        </div>
    </div>
</div>
