<% if (organizations.length > 0) { %>
<div class="col-md-6">
    <h2>Grants <%= direction %></h2>

    <div class="ct-chart"></div>

    <table class="grants">
        <thead>
            <tr>
                <th colspan="2" class="name">Organization</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
        <% _.each(organizations, function(organization) { %>
            <tr class="organization">
                <td colspan="2" class="name">
                    <a href="/#!/organizations/<%= organization.id %>">
                        <strong><%- organization.name %></strong>
                    </a>
                </td>
                <td>
                    <strong>$<%- organization.prettySum %></strong>
                </td>
            </tr>


            <% _.each(organization.grants, function(grant) { %>
                <tr class="grant">
                    <td class="description">
                        <a href="/#!/grants/<%= grant.id %>" class="permalink">
                        <% if(grant.body) { %>
                            <%= grant.body.und[0].value %></a>
                        <% } else { %>
                            <span class="glyphicon glyphicon-link"></span>
                        <% } %>
                        </td>
                    </td>
                    <td>
                        <%= grant.start_date %>
                        &mdash;
                        <%= grant.end_date %>
                    </td>
                    <td>
                        <div class="amount">
                            $<%= grant.amount %>
                        </div>
                    </td>
                </tr>
            <% }); %>
        <% }); %>
        </tbody>
    </table>
</div>

<% } %>

