<% _.each(organizations, function(organization) { %>
    <tr class="organization">
        <td class="name">
            <a href="#!/organizations/<%= organization.id %>/<%= organization.slug %>">
                <strong><%- organization.name %></strong>
            </a>
        </td>
        <td style="text-align: right">
            <!--total-->
        </td>
        <td>
            <strong>$<%- organization.prettySum %></strong>
        </td>
    </tr>


    <% _.each(organization.grants, function(grant) { %>
        <tr class="grant">
            <td class="description">
                <a href="#!/grants/<%= grant.id %>" class="permalink">
                <% if(grant.body) { %>
                    <%= grant.body.und[0].value %></a>
                <% } else { %>
                    No description available <span class="glyphicon glyphicon-link"></span>
                <% } %>
                </td>
            </td>
            <td class="years">
                <%= grant.start_date %>
                &mdash;
                <%= grant.end_date %>
            </td>
            <td class="amount">
                $<%= grant.amount %>
            </td>
        </tr>
    <% }); %>
<% }); %>

<% if (organizations.length == 0) { %>
  <tr>
    <td colspan="3">
      <h2>No matching grants.</h2>
    </td>
  </tr>
<% } %>
