<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        <span class="glyphicon glyphicon-flag"></span>
        <a href="" class="flag-toggle">Report missing or innacurate data</a>
    </h3>
  </div>
  <div class="panel-body">
    <form class="flag-form">
        <textarea placeholder="What should be changed? Please include your email if you'd like the Ledger team to follow up with you."></textarea>
        <div><input type="submit" text="flag" class="submit" value="Submit report"></div>
        <div class="thanks">Thanks &mdash; we've received your report.</div>
        <div class="error">
          Sorry, we weren't able to save your report.
          Please email your report to
          <a href="mailto:hello@detroitledger.org">hello@detroitledger.org</a>.
        </div>
    </form>
  </div>
</div>

