<div class="container">
  <div class="row">
    <div class="col-md-9">
      <% if (o.body) { %>
      <div class="description">
        <%= o.body.und[0].safe_value %>
      </div>
      <% } %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="news"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="finances"></div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2>Grant Data</h2>
      <p>Describes grants Ledger staff have been able to document. Does not reflect
      a full, official record of all funding.</p>

      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" <% if (o.show_first === 'received') { %>class="active"<% } %>>
              <a href="#grants-received" aria-controls="grants-received" role="tab" data-toggle="tab">
              Received $<% if (o.amount_received) { %><%= o.amount_received %><% } else { %>0<% } %>
              </a>
          </li>
          <li role="presentation" <% if (o.show_first === 'funded') { %>class="active"<% } %>>
              <a href="#grants-funded" aria-controls="grants-funded" role="tab" data-toggle="tab">
                  Gave $<% if (o.amount_funded) { %><%= o.amount_funded %><% } else { %>0<% } %>
              </a>
          </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane <% if (o.show_first === 'received') { %>active<% } %>" id="grants-received">
          <div class="loading">
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane <% if (o.show_first === 'funded') { %>active<% } %>" id="grants-funded">
          <div class="loading">
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="flag"></div>
    </div>
  </div>
</div>

