<div class="grant">
    <div class="row">
        <div class="col-md-12">
            <h1><%= o.title %></h1>
        </div>
    </div>

    <!--
    <div class="row">
        <% if (o.amount_received) { %>
        <div class="col-md-6">
            Recieved
            <h2>

            </h2>
        </div>
        <% } %>
        <% if (o.amount_funded) { %>
            <div class="col-md-6">
                Gave
                <h2>

                </h2>
            </div>
        <% } %>
    </div>
    <p>Since <%= o.org_grants_datestart %>.</p>
    -->

    <div class="row">
        <div class="col-md-12">
            <% if (o.body) { %>
            <%= o.body.und[0].safe_value %>
            <% } %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#grants-received" aria-controls="grants-received" role="tab" data-toggle="tab">
            Received $<%= o.amount_received %>
            </a>
        </li>
        <li role="presentation">
            <a href="#grants-funded" aria-controls="grants-funded" role="tab" data-toggle="tab">
                Gave $<%= o.amount_funded %>
            </a>
        </li>
        </ul>
    </div>
</div>
