/*******************************************************************************
 * _base.scss

 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/

body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  color: $body-color;
}

a:link,
a:visited {
  color: $blue;
  text-decoration: none;
}

a:active,
a:hover {
  border-bottom: 1px dotted $blue;
}

a.active-trail {
  color: black;
  text-decoration: none;
}

p {
  line-height: 1.6;
  max-width: 600px;
}

h1, h2, h3 {
  font-size: 1em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
  margin-top: 0;
}

html.js .form-autocomplete {
  background-position: 100% 7px;
}

.view-id-orgs .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

#content {
  input[type="submit"],
  select {
    margin-bottom: 1em;
    padding: 6px;
    font-family: $font-family;
    color: #fff;
    border: 5px solid $blue-accent;
    text-align: center;
    background: $blue-accent;
    border-left:0px none;
  }
}


