/*******************************************************************************
 * _components.scss
 *
 * Imports more partials that contain full components (modules in SMACSS), their
 * sub-components and modifiers.
 *
 * Components are discrete parts of your page that should sit within the regions
 * of your layouts. You should try to abstract your components as much as
 * possible to promote reuse throughout the theme. Components should be flexible
 * enough to respond to any width and should never rely on context
 * (e.g. .sidebar-first .component) for styling. This allows modules to be
 * placed throughout the theme with no risk of them breaking.
 *
 * If you find you need to change the look of a component depending on it's
 * context you should avoid using context based classes at all costs. Instead it
 * is better to add another "modifier" class to the component to alter the
 * styling. Again, this promotes reuse.
 *
 * Sub-components are the individual parts that make up a component. As a
 * general rule, adding a class to target a sub-component is a much better
 * option than using descendant selectors or element selectors. In many cases
 * sub-components can be made more reusable by making them components in their
 * own right, so they can then be used within other components.
 *
 * Almost everything that doesn't belong in base should be made a component.
 * Here's some common examples throughout Drupal:
 *
 * - Blocks
 * - Content Types - For example, you may have a generic node component that
 *      contains sub-components for the submitted by line and links. Specific
 *      components can then be created for each content type to style the
 *      specifics of each. Finally, by using entity view modes you can easily
 *      apply modifications based on the .node-[view-mode] classes.
 * - Forms - For instance the log in form.
 * - Views - Each views output style could be made into a component, the content
 *       of each row should be provided my a view mode styled by it's component
 *       CSS. Exposed filter forms, views pagers and other views elements are
 *       also good candidates for components.
 ******************************************************************************/

/* Header ------------------------------------------------------------------- */
.navbar-inverse {
  background: $blue;
  border: none;
  border-bottom: 1px solid #006395;
  color: #fff;

  .navbar-brand {
    font-weight: bold;
  }

  .navbar-brand,
  .navbar-nav>li>a {
    color: #fff;
  }

  .navbar-nav>.active>a,
  .navbar-nav>.active>a:hover,
  .navbar-nav>.active>a:focus {
    color: #fff;
    background: $blue;
  }
}

header {
  // background: $green;
  // color: #fff;
  padding: 10px 0 20px;
}

header a,
header a:link,
header a:visited,
header a:active {
  // color: #fff;
  // border-bottom: 1px dotted #fff;
  text-decoration: none;
  line-height: 1.5em;
}

nav {
  background: #0088cc;
  color: #fff;
  padding: 10px 0;
}

nav {
  line-height: 14px;
  a:link, a:active,
  a:visited, a:hover {
    color: white;
  }
}

.site-branding {
  font-weight: bold;
}

/* Footer ------------------------------------------------------------------- */
footer {
  bbackground: #ebe4bd;
  border-top: 1px solid #e5dcaa;
  padding: 25px 0 20px 0;

  form {
    font-weight: bold;
    color: #b0a360;
  }

  input[type="submit"],
  select {
    @include highlight-tan;
  }
}

/* Content ------------------------------------------------------------------ */
#content {
  padding: 0 0 30px;
  background: white;
}

#content h2.related-grants {
  border-top: 2px solid $body-color;
  margin-top: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}



/* Home --------------------------------------------------------------------- */
#home {
  margin-top: -30px;
}

header .home {
  text-align: center;

  h1 {
    padding: 0;
    line-height: 1.3;

    @media all and (max-width: 768px) {
      font-size: 20px;
      text-align: left;
    }
  }

  h2 {
    border-bottom: 0;
    font-weight: 300;
  }
}

#home .container {
  //width: 650px;

  input[type="text"],
  input[type="email"] {
    width: 100%;
    max-width: 450px;
    min-width: 100px;
    /* todo: add responsivity */

    display: inline-block;
    margin-bottom: 1em;
    marign-right: 20px;
    padding: 10px 20px;
    font-weight: bold;
    font-family: nobile;
    font-size: 16px;
    color: $body-color;
    border: 5px solid $blue-accent;
  }

  input[type="submit"] {
    width: 100px;
    display: inline-block;
    margin-bottom: 1em;
    padding: 10px;
    font-weight: bold;
    font-family: nobile;
    font-size: 16px;
    color: #fff;
    border: 5px solid $blue-accent;
    text-align: center;
    background: $blue-accent;
    border-left:0px none;
  }
}

.wrap {
  padding: 20px 0;

  @media all and (max-width: 768px) {
    padding: 20px 0;
  }
}

.wrap.intro {
  background: $blue;
  color: #fff;

  .callout {
    text-align: center;
    margin-bottom: 1.5em;
  }
}

.wrap.contrast {
  background: $lighter-tan;
}


/* Callouts ----------------------------------------------------------------- */

.callout {
  letter-spacing: -0.05em;

  .num {
    font-weight: 600;
  }
}

h3.callout {
  font-size: 2em;
  border-bottom: 1px dotted $gray;
}

.white .callout {
  border-bottom: 5px solid $gray;
}

.contrast .callout {
  border-bottom: 5px solid $darker-tan;
}

/* Search ------------------------------------------------------------------- */
#search-container {
  form {
    text-align: center;
  }

  p {
    max-width: inherit;
  }

  .eg {
    color: $gray;
  }

  input.search {
    width: 60%;
    min-width: 300px;
    font-size: 2em;
    font-weight: bold;
  }


  #results {
    margin-top: 1em;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;

    a,
    a:visited {
      color: #fff;
      border-bottom: 1px dotted #fff;
      background: $blue;
      line-height: 1.6em;
    }
  }

  #results .org {
    display: inline-block;
    width: 21%;
    margin-right: 4%;
    vertical-align: top;
    border-top: 1px solid $blue-accent;
    padding: 10px 0px 20px 0px;

    &:hover {
      border-top-color: $bright-tan;
    }

    &:nth-child(4n+4){
      margin-right: 0;
    }

    &.no-results {
      width: 100%;
      text-align: center;
      font-size: 2em;
      border-top: 0;
    }

    p {
      color: #fff;
    }

    a {
      line-height: 1.1em;
      display: inline-block;
    }

    a:hover {
      color: $bright-tan;
      border-bottom-color: $bright-tan;
    }
  }
}


/* Pages  ------------------------------------------------------------------- */

.page h2 {
  margin-top: 1em;
}

/* Grants ------------------------------------------------------------------- */

table.grants {
  width: 100%;
  table-layout: fixed;
}


th.name,
td.name {
  width: 70%;
}

.grant td {
  width: 70%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.organization td {
  padding-top: 0.75em;
  padding-bottom: 0.25em;
  border-top: 2px solid $body-color;
  border-bottom: 1px dotted $body-color;
}

.grant td.years,
th.years {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.grant td.description {
  padding-right: 0.75em;

  .glyphicon {
    font-size: 0.9em;
  }
}

.grant:hover td.description a {
  color: $blue;
  border-bottom: 1px dotted $blue;
}

.grant a {
  color: $blue;
  border-bottom: 1px dotted $blue;
}

.grant a:hover {
  color: $blue;
  border-bottom: 1px solid $blue;
}

.grant h3 .glyphicon {
  font-size: 12px;
}

.grant-details ul {
  list-style: none;
  padding: 0;
}

/* Orgs --------------------------------------------------------------------- */

.homepage-org {
  padding: 1.5em 0;
  border-bottom: 1px solid $darker-tan;

  .timeframe {
    color: $body-color;
    font-size: 16px;
  }

  a,
  .received,
  .granted {
    @include highlight-tan;
  }
}

.grants-received {
  margin: 0;
}

.timeframe,
.submitted {
  margin: 0;
  color: #999;
}

/* Main Menu ---------------------------------------------------------------- */
#block-system-main-menu {
  ul.menu {
    li.leaf {
      padding-right: 23px;
      :last-child {
        padding-right: 0;
      }
    }
  }
}

/* Flags -------------------------------------------------------------------- */
#flag {
  margin-top: 3em;

  .panel-body {
    display:none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
  }

  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid $blue;
  }

  span {
    color: $gray
  }

  .error,
  .thanks {
    display: none;
  }
}

