
table.grants {
  width: 100%;
  table-layout: fixed;
}

.row.related {
  margin-bottom: 20px;
}


th.name,
td.name {
  width: 70%;
}

.grant td {
  width: 70%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.organization td {
  padding-top: 0.75em;
  padding-bottom: 0.25em;
  border-top: 2px solid $body-color;
  border-bottom: 1px dotted $body-color;
}

.grant td.years,
th.years {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.grant td.description {
  padding-right: 0.75em;

  .glyphicon {
    font-size: 0.9em;
  }
}

.grant:hover td.description a {
  color: $blue;
  border-bottom: 1px dotted $blue;
}

.grant a {
  color: $blue;
  border-bottom: 1px dotted $blue;
}

.grant a:hover {
  color: $blue;
  border-bottom: 1px solid $blue;
}

.grant h3 .glyphicon {
  font-size: 12px;
}

.grant-details ul {
  list-style: none;
  padding: 0;
}
