.homepage-org {
  padding: 1.5em 0;
  border-bottom: 1px solid $darker-tan;

  .timeframe {
    color: $body-color;
    font-size: 16px;
  }

  a,
  .received,
  .granted {
    @include highlight-tan;
  }
}

.grants-received {
  margin: 0;
}

.timeframe,
.submitted {
  margin: 0;
  color: #999;
}

div.description {
  margin-bottom: 1.5em;
}

#news {
  .article { 
    h3 {
      font-weight: 600;
      margin-bottom: 0;
    }

    .date {
      color: $gray;
      font-weight: 300;
    }

    p {
      font-weight: 300;
      line-height: 1.4;
    }
  }
}

.tags {
  margin-bottom: 1em;

  .tag {
    color: $body-color;
    border: 0px none;
    border-radius: 3px;
    display: inline-block;
    padding: 0px 5px;
    background: $light-gray;
    font-size: .75em;
  }
}
