<div class="ntee container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= ntee.name %></h1>
      <% if (ntee.totals.received) { %>
        <h2>$<%= ntee.totals.received_pretty %> in grants received</h2>
      <% } %>
      <% if (ntee.totals.funded) { %>
        <h2>$<%= ntee.totals.funded_pretty %> in grants funded</h2>
      <% } %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3><strong>Revenues</strong></h3>
      <div class="chart chart-revenues"></div>
    </div>
    <div class="col-md-4">
      <h3><strong>Expenses</strong></h3>
      <div class="chart chart-expenses"></div>
    </div>
    <div class="col-md-4">
      <h3><strong>Assets</strong></h3>
      <div class="chart chart-assets"></div>
    </div>
  </div>
</div>
