<h2>News</h2>

<div class="row">
  <% _.each(news.slice(0, 4), function(n) { %>
  <div class="col-md-3">
    <div class="article">
      <h3><a href="<%= n.field_news_link %>" target="blank"><%= n.title %></a></h3>
      <div class="date"><%= n.date %></div>
      <p><%= n.field_news_desc %></p>
    </div>
  </div>
  <% }); %>
</div>


<% if (news.length > 4) {%>
<h3 class="read-all"><a href="#">Read all</a></h3>

<div class="row more-news">
  <% _.each(news.slice(4), function(n) { %>
  <div class="col-md-3">
    <div class="article">
      <h3><a href="<%= n.field_news_link %>" target="blank"><%= n.title %></a></h3>
      <div class="date"><%= n.date %></div>
      <p><%= n.field_news_desc %></p>
    </div>
  </div>
  <% }); %>
</div>

<% } %>
