<h2>Finances</h2>
<p>Dates represent the end of the organization's fiscal year, often different
from the calendar year. Not all figures are available for all organizations. 
Data is from IRS 990 filings.</p>

<div class="row">
  <% _.each(finances, function(f) { %>
  <div class="col-md-3">
    <div class="article">
      <table>
        <tr>
          <th colspan="2">
            <%= f.month %> <%= f.year %>
          </th>
        </tr>
        <tr>
          <td>Revenue</td>
          <td class="amt">$<%= f.total_revenue_text %></td>
        </tr>
        <% if (f.grants_paid) { %>
        <tr>
          <td>Grants Paid</td>
          <td class="amt">$<%= f.grants_paid_text %></td>
        </tr>
        <% } %>
        <tr>
          <td>Total Expenses</td>
          <td class="amt">$<%= f.total_expenses_text %></td>
        </tr>
        <tr>
          <td>Assets</td>
          <td class="amt">$<%= f.total_assets_text %></td>
        </tr>
        <tr>
          <td>Liabilities</td>
          <td class="amt">$<%= f.total_liabilities_text %></td>
        </tr>
      </table>
    </div>
  </div>
  <% }); %>
</div>
